body {
  background-color: #b8b8b8;
  font-family: 'Tahoma';
}
.App {
  text-align: center;
  background-color: #b8b8b8;
  height: 100%;
}
header {
  text-align: center;
  display: grid;
  grid-template-columns: 2% 95%;
  background-color: #262626;
}
.logo {
  padding: 10px;
  height: 20vmin;
  justify-self: center;
}

.loginLogout {
  background-color: #262626;
  color: #b8b8b8;
  text-align: center;
  border: none;
  border-right: solid #b8b8b8;
  height: 2em;
  width: 5em;
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  padding-top: 10px;
}
.greeting {
  display: inline-grid;
  color: #b8b8b8;
  font-size: 1.5em;
  padding-top: 4px;
  margin: 3px 20px;
  grid-column: 2;
}

@media screen and (max-height: 600px) {
  .logo {
    height: 100px;
  }
}
