.App {
  text-align: center;
  background-color: #b8b8b8;
  height: 100%;
}
header {
  text-align: left;
  display: flex;
  background-color: #262626;
}
.logo {
  padding: 10px;
  height: 20vmin;
  justify-self: center;
}
button {
  background-color: #262626;
  color: #b8b8b8;
  border: none;
  border-right: solid #b8b8b8;
  height: 2em;
  width: 5em;
  font-size: 1em;
  margin: 3px;
  cursor: pointer;
}
.greeting {
  display: inline-flex;
  color: #b8b8b8;
  font-size: 1.5em;
  margin: 3px 20px;
}

@media screen and (max-height: 600px) {
  .logo {
    height: 100px;
  }
}
