.movieCard {
  background-color: #f3f6f6;
  box-sizing: border-box;
  border: 3px solid #262626;
  padding: 10px;
}
.poster {
  height: 250px;
  filter: grayscale(2);
  opacity: 75%;
}
.poster:hover {
  filter: none;
  opacity: 100%;
  cursor: pointer;
}
